:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.brain-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.brain-canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  overflow: hidden;
}

